# Engineering time series

In [17]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE, Isomap, MDS
from tsfresh import extract_features
from tsfresh.utilities.dataframe_functions import impute
import tsfresh
import umap
from sklearn.ensemble import IsolationForest

# format notebook output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import display, HTML, Javascript
display(HTML("<style>.container { width:90% !important; }</style>"))

# style pandas display
pd.set_option('display.max_columns', None)

# matplotlib magic
%matplotlib inline

In [3]:
def desc(df):
    display(df.head())
    print(df.shape)
    print(df.dtypes)

# Load data

In [4]:
air_reserve = pd.read_csv('../../data_files/air_reserve.csv')
air_store_info = pd.read_csv('../../data_files/air_store_info.csv', encoding='utf-8')
air_visit_data = pd.read_csv('../../data_files/air_visit_data.csv')
date_info = pd.read_csv('../../data_files/date_info.csv')
hpg_reserve = pd.read_csv('../../data_files/hpg_reserve.csv')
hpg_store_info = pd.read_csv('../../data_files/hpg_store_info.csv')
sample_submission = pd.read_csv('../../data_files/sample_submission.csv')
store_id_relation = pd.read_csv('../../data_files/store_id_relation.csv')

## Merge data

In [5]:
air_reserve['reserve_date'] = air_reserve['reserve_datetime'].apply(lambda x: x[:10])
# air_reserve['reserve_date'] = pd.to_datetime(air_reserve['reserve_date'])

In [6]:
air_reserve['visit_date'] = air_reserve['visit_datetime'].apply(lambda x: x[:10])
# air_reserve['visit_date'] = pd.to_datetime(air_reserve['visit_date'])

In [7]:
air_reserve_daily = air_reserve[[
        'air_store_id',
        'visit_date',
        'reserve_visitors'
    ]].groupby(['air_store_id', 'visit_date'], as_index=False).agg('sum')

In [8]:
desc(air_reserve_daily)

           air_store_id  visit_date  reserve_visitors
0  air_00a91d42b08b08d9  2016-10-31                 2
1  air_00a91d42b08b08d9  2016-12-05                 9
2  air_00a91d42b08b08d9  2016-12-14                18
3  air_00a91d42b08b08d9  2016-12-17                 2
4  air_00a91d42b08b08d9  2016-12-20                 4

(29830, 3)
air_store_id        object
visit_date          object
reserve_visitors     int64
dtype: object

In [9]:
air_visit_data = pd.merge(
    left=air_visit_data,
    right=air_reserve_daily,
    on=['air_store_id', 'visit_date'],
    how='left',
    copy=False
)

In [10]:
# should we make a seperate column with binary for nullfill?
air_visit_data['reserve_visitors'].fillna(0, inplace=True)

In [12]:
air_visit_data['visit_date'] = pd.to_datetime(air_visit_data['visit_date'])

In [13]:
desc(air_visit_data)

           air_store_id visit_date  visitors  reserve_visitors
0  air_ba937bf13d40fb24 2016-01-13        25               0.0
1  air_ba937bf13d40fb24 2016-01-14        32               0.0
2  air_ba937bf13d40fb24 2016-01-15        29               0.0
3  air_ba937bf13d40fb24 2016-01-16        22               0.0
4  air_ba937bf13d40fb24 2016-01-18         6               0.0

(252108, 4)
air_store_id                object
visit_date          datetime64[ns]
visitors                     int64
reserve_visitors           float64
dtype: object

In [34]:
air_visit_data[
    air_visit_data['air_store_id'] == air_visit_data['air_store_id'][0]
][[
    'air_store_id',
    'visit_date',
    'visitors'
]]

             air_store_id visit_date  visitors
0    air_ba937bf13d40fb24 2016-01-13        25
1    air_ba937bf13d40fb24 2016-01-14        32
2    air_ba937bf13d40fb24 2016-01-15        29
3    air_ba937bf13d40fb24 2016-01-16        22
4    air_ba937bf13d40fb24 2016-01-18         6
5    air_ba937bf13d40fb24 2016-01-19         9
6    air_ba937bf13d40fb24 2016-01-20        31
7    air_ba937bf13d40fb24 2016-01-21        21
8    air_ba937bf13d40fb24 2016-01-22        18
9    air_ba937bf13d40fb24 2016-01-23        26
10   air_ba937bf13d40fb24 2016-01-25        21
11   air_ba937bf13d40fb24 2016-01-26        11
12   air_ba937bf13d40fb24 2016-01-27        24
13   air_ba937bf13d40fb24 2016-01-28        21
14   air_ba937bf13d40fb24 2016-01-29        26
15   air_ba937bf13d40fb24 2016-01-30         6
16   air_ba937bf13d40fb24 2016-02-03        18
17   air_ba937bf13d40fb24 2016-02-04        12
18   air_ba937bf13d40fb24 2016-02-05        45
19   air_ba937bf13d40fb24 2016-02-06        15
20   air_ba937bf13d40fb24 2016-02-08        19
21   air_ba937bf13d40fb24 2016-02-09        15
22   air_ba937bf13d40fb24 2016-02-10        32
23   air_ba937bf13d40fb24 2016-02-11         3
24   air_ba937bf13d40fb24 2016-02-12        26
25   air_ba937bf13d40fb24 2016-02-13         8
26   air_ba937bf13d40fb24 2016-02-15        14
27   air_ba937bf13d40fb24 2016-02-16        15
28   air_ba937bf13d40fb24 2016-02-17        17
29   air_ba937bf13d40fb24 2016-02-18        22
..                    ...        ...       ...
361  air_ba937bf13d40fb24 2017-03-22        27
362  air_ba937bf13d40fb24 2017-03-23        16
363  air_ba937bf13d40fb24 2017-03-24        27
364  air_ba937bf13d40fb24 2017-03-25        20
365  air_ba937bf13d40fb24 2017-03-27         6
366  air_ba937bf13d40fb24 2017-03-28        18
367  air_ba937bf13d40fb24 2017-03-29        20
368  air_ba937bf13d40fb24 2017-03-30        20
369  air_ba937bf13d40fb24 2017-03-31        31
370  air_ba937bf13d40fb24 2017-04-01        32
371  air_ba937bf13d40fb24 2017-04-02         4
372  air_ba937bf13d40fb24 2017-04-03         4
373  air_ba937bf13d40fb24 2017-04-04        32
374  air_ba937bf13d40fb24 2017-04-05        19
375  air_ba937bf13d40fb24 2017-04-06        12
376  air_ba937bf13d40fb24 2017-04-07        46
377  air_ba937bf13d40fb24 2017-04-08        25
378  air_ba937bf13d40fb24 2017-04-10         3
379  air_ba937bf13d40fb24 2017-04-11         9
380  air_ba937bf13d40fb24 2017-04-12         7
381  air_ba937bf13d40fb24 2017-04-13        17
382  air_ba937bf13d40fb24 2017-04-14        27
383  air_ba937bf13d40fb24 2017-04-15        16
384  air_ba937bf13d40fb24 2017-04-16         1
385  air_ba937bf13d40fb24 2017-04-17        10
386  air_ba937bf13d40fb24 2017-04-18        11
387  air_ba937bf13d40fb24 2017-04-19        11
388  air_ba937bf13d40fb24 2017-04-20        14
389  air_ba937bf13d40fb24 2017-04-21        40
390  air_ba937bf13d40fb24 2017-04-22        23

[391 rows x 3 columns]

In [37]:
len(air_visit_data[
    air_visit_data['air_store_id'] == air_visit_data['air_store_id'][0]
][[
    'air_store_id',
    'visit_date',
    'visitors'
]]['visit_date'].unique())

391

In [35]:
tsroll = tsfresh.utilities.dataframe_functions.roll_time_series(
    df_or_dict=air_visit_data[
        air_visit_data['air_store_id'] == air_visit_data['air_store_id'][0]
    ][[
        'air_store_id',
        'visit_date',
        'visitors'
    ]],
    column_id='air_store_id',
    column_sort='visit_date',
    column_kind='visitors',
    rolling_direction=1,
    max_timeshift=None
)

/Users/eric.bunch/recruitVisitorForecasting/kaggleVenv/lib/python3.6/site-packages/tsfresh/utilities/dataframe_functions.py:394: UserWarning: Your time stamps are not uniformly sampled, which makes rolling nonsensical in some domains.
  warnings.warn("Your time stamps are not uniformly sampled, which makes rolling "

In [36]:
tsroll

     visit_date air_store_id  visitors
1847 2016-01-13   2016-01-13        25
1848 2016-01-14   2016-01-14        32
1849 2016-01-15   2016-01-15        29
1850 2016-01-16   2016-01-16        22
1851 2016-01-18   2016-01-18         6
1852 2016-01-19   2016-01-19         9
1853 2016-01-20   2016-01-20        31
1854 2016-01-21   2016-01-21        21
1855 2016-01-22   2016-01-22        18
1856 2016-01-23   2016-01-23        26
1511 2016-01-21   2016-01-25        21
1857 2016-01-25   2016-01-25        21
1858 2016-01-26   2016-01-26        11
1859 2016-01-27   2016-01-27        24
1223 2016-01-21   2016-01-28        21
1512 2016-01-25   2016-01-28        21
1860 2016-01-28   2016-01-28        21
1513 2016-01-23   2016-01-29        26
1861 2016-01-29   2016-01-29        26
1514 2016-01-18   2016-01-30         6
1862 2016-01-30   2016-01-30         6
1515 2016-01-22   2016-02-03        18
1863 2016-02-03   2016-02-03        18
1864 2016-02-04   2016-02-04        12
1865 2016-02-05   2016-02-05        45
1866 2016-02-06   2016-02-06        15
1867 2016-02-08   2016-02-08        19
1516 2016-02-06   2016-02-09        15
1868 2016-02-09   2016-02-09        15
1517 2016-01-14   2016-02-10        32
...         ...          ...       ...
1507 2017-03-12   2017-04-19        11
1843 2017-04-18   2017-04-19        11
2234 2017-04-19   2017-04-19        11
345  2016-02-15   2017-04-20        14
462  2016-05-10   2017-04-20        14
604  2016-06-22   2017-04-20        14
773  2016-09-15   2017-04-20        14
977  2016-09-29   2017-04-20        14
1220 2016-10-15   2017-04-20        14
1508 2016-11-17   2017-04-20        14
1844 2017-02-21   2017-04-20        14
2235 2017-04-20   2017-04-20        14
774  2016-04-22   2017-04-21        40
978  2016-09-10   2017-04-21        40
1221 2016-09-14   2017-04-21        40
1509 2016-12-09   2017-04-21        40
1845 2017-02-24   2017-04-21        40
2236 2017-04-21   2017-04-21        40
118  2016-02-27   2017-04-22        23
176  2016-03-09   2017-04-22        23
251  2016-04-19   2017-04-22        23
346  2016-05-19   2017-04-22        23
463  2016-07-26   2017-04-22        23
605  2016-08-08   2017-04-22        23
775  2016-09-12   2017-04-22        23
979  2016-12-20   2017-04-22        23
1222 2017-01-28   2017-04-22        23
1510 2017-02-09   2017-04-22        23
1846 2017-02-11   2017-04-22        23
2237 2017-04-22   2017-04-22        23

[2238 rows x 3 columns]